*, *::after, *::before {
  outline: none;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  background: #333;
}

#wrapper-preloader {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
#wrapper-preloader p {
  font-size: 1.125rem;
  font-weight: 900;
  letter-spacing: 3px;
}
#wrapper-preloader #loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #0000;
  border: 7px solid #222;
  border-top: 7px solid #fff;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}

.preloader--done {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
#wrapper-header {
  width: 100%;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
}
#wrapper-header header {
  width: 100%;
  max-width: 950px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#wrapper-header header a {
  padding: 10px;
  font-size: 1.125rem;
  font-weight: 900;
  letter-spacing: 3px;
  -webkit-text-decoration: 0.125rem #fff0 underline;
          text-decoration: 0.125rem #fff0 underline;
  -webkit-transition: -webkit-text-decoration-color 0.1s;
  transition: -webkit-text-decoration-color 0.1s;
  transition: text-decoration-color 0.1s;
  transition: text-decoration-color 0.1s, -webkit-text-decoration-color 0.1s;
}
#wrapper-header header a:hover, #wrapper-header header a:focus {
  -webkit-text-decoration-color: #ffff;
          text-decoration-color: #ffff;
}
#wrapper-header header button {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  margin-right: 10px;
}
#wrapper-header header button:hover, #wrapper-header header button:focus-within {
  background: #333;
}

#wrapper-menu {
  width: 100%;
  left: 0;
  height: 120px;
  background: linear-gradient(-45deg, #111, #222);
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#wrapper-menu section {
  height: 100%;
  width: 100%;
  max-width: 950px;
  padding: 10px;
}
#wrapper-menu section ul {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#wrapper-menu section ul li a {
  font-size: 1.125rem;
  -webkit-text-decoration: 0.125rem #fff0 underline;
          text-decoration: 0.125rem #fff0 underline;
  -webkit-transition: background 0.1s, -webkit-text-decoration-color 0.1s;
  transition: background 0.1s, -webkit-text-decoration-color 0.1s;
  transition: text-decoration-color 0.1s, background 0.1s;
  transition: text-decoration-color 0.1s, background 0.1s, -webkit-text-decoration-color 0.1s;
  padding: 10px;
}
#wrapper-menu section ul li a:hover, #wrapper-menu section ul li a:focus {
  -webkit-text-decoration-color: #ffff;
          text-decoration-color: #ffff;
  background: #44e8;
}
#wrapper-menu #menu__header-container {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrapper-menu #menu__header-container header {
  width: 100%;
  max-width: 950px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#wrapper-menu #menu__header-container header a {
  padding: 10px;
  font-size: 1.125rem;
  font-weight: 900;
  letter-spacing: 3px;
  -webkit-text-decoration: 0.125rem #fff0 underline;
          text-decoration: 0.125rem #fff0 underline;
  -webkit-transition: -webkit-text-decoration-color 0.1s;
  transition: -webkit-text-decoration-color 0.1s;
  transition: text-decoration-color 0.1s;
  transition: text-decoration-color 0.1s, -webkit-text-decoration-color 0.1s;
}
#wrapper-menu #menu__header-container header a:hover, #wrapper-menu #menu__header-container header a:focus {
  -webkit-text-decoration-color: #ffff;
          text-decoration-color: #ffff;
}
#wrapper-menu #menu__header-container header button {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  margin-right: 10px;
}
#wrapper-menu #menu__header-container header button:hover, #wrapper-menu #menu__header-container header button:focus-within {
  background: #333;
}

.menu--open {
  top: 0px;
}

.menu--close {
  top: -150px;
}

#wrapper-content {
  padding-top: 50px;
  width: 100%;
  min-height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#wrapper-content main {
  width: 100%;
  max-width: 950px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrapper-content main span {
  font-size: 2.125rem;
  letter-spacing: 1px;
  padding: 15px;
}
#wrapper-content main ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  list-style: none;
  gap: 15px;
}
#wrapper-content main ul li {
  width: 100%;
}
#wrapper-content main ul li a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  main ul {
    -ms-grid-columns: 1fr 1fr !important;
    grid-template-columns: 1fr 1fr !important;
  }

  #wrapper-menu {
    height: 300px;
  }
  #wrapper-menu section ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu--close {
    top: -300px;
  }
}